:root {
  --black-color: rgb(0, 0, 0, 0.8)
}

* {
  margin: 0;
  padding: 0;
  background-origin: padding-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--black-color);
  color: var(--black-color);
  list-style-type: none;
  text-decoration: none;
}

.form-todo {
  display: block;
  width: 30%;
  height: 60vh;
  margin: 6rem auto;
  padding: 2rem;
  text-align: center;
  background-color: #ddd;
  border-radius: 0.5rem;
}

.form-todo h1 {
  color: var(--black-color);
  margin-bottom: 2rem;
  /* font-weight: 700; */
  font-size: 2.5rem;
}

.form-todo .form .form-input {
  padding: 0.8rem;
  width: 70%;
  font-size: 1rem;
  border-radius: 10px;
  background-color:  var(--black-color);
  color: #eee;
}

.form-todo .form .btn-input {
  padding: 0.8rem;
  background-color:  var(--black-color);
  margin-left: 0.5rem;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: 600;
  background-color: skyblue;
}

.form-todo .form .btn-input:hover {
  background-color: rgb(52, 177, 226);
  cursor: pointer;
}

.form-todo .todo-lists {
  overflow: auto;
  height: 50%;
  /* display: block; */
  margin: 2rem 1rem;
  padding: 0.8rem;
}

.form-todo .todo-lists ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.8rem;
  padding: 0.8rem 1rem;
  border-bottom: 1px dashed var(--black-color);
}

.form-todo .todo-lists ul li .task {
  /* align-items: center; */
  font-size: 1rem;
  font-weight: 600;
  color: var(--black-color);
}

.form-todo .todo-lists ul li .task.completed {
  text-decoration: line-through;
  opacity: 0.7;
  color: #666;
}

.form-todo .todo-lists ul li .task .check {
  color: green;
  stroke-width: 3px;
}

.form-todo .todo-lists ul li .btn-todo .btn-delete{
  padding: 0.4rem;
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: red;
  color: #eee;
}
.form-todo .todo-lists ul li .btn-todo .btn-delete:hover {
  background-color: rgb(197, 19, 19);
}

.form-todo .todo-lists ul li .btn-todo .btn-completed{
  padding: 0.4rem;
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: green;
  color: #eee;
}

.form-todo .todo-lists ul li .btn-todo .btn-completed:hover {
  background-color: rgb(21, 100, 21);
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  font-weight: 600;
  display: none;
}



/* Mobile (450px) */
@media (max-width: 1455px) {
  /* pastikan tidak ada scroll horizontal di mobile */
  html, body {
    width: 100%;
    overflow-x: hidden;
    max-width: 100%;
  }

  .form-todo {
    width: 90%;
    max-width: 100%;
    height: auto;
    margin: 2rem auto;
    padding: 1.5rem;
    box-sizing: border-box;
  }

  .form-todo .form,
  .form-todo .form form {
    width: 100%;
    box-sizing: border-box;
  }

  .form-todo .todo-lists {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
  }

  .form-todo .todo-lists ul {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
  }

  .form-todo .todo-lists ul li {
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
  }

  .form-todo .todo-lists ul li .task {
    word-break: break-word;
    white-space: normal;
  }

  .form-todo .todo-lists ul li .btn-todo {
    width: 100%;
    display: flex;
    gap: 0.3rem;
    flex-wrap: wrap;
  }

  .form-todo .todo-lists ul li .btn-todo .btn-delete,
  .form-todo .todo-lists ul li .btn-todo .btn-completed {
    flex: 1 1 48%;
    box-sizing: border-box;
    min-width: 0;
  }
}